.header-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    background-color: lightgray;
}

.logo {
    width: 100px;
}

.nav-container {
    padding: 0px 20px;
}

.nav-container > ul{
    font-size: 24px;
    display: flex;
    list-style-type: none;
}

.nav-container > ul > li {
    padding: 10px;
    margin: 10px;
}

#root-container > h1 {
    color: red;
}

.res-card {
    background-color: bisque;
    border: 1px solid black;
    width: 200px;
    height: 350px;
    padding: 13px;
}

.search {
    padding: 10px;
}

.res-logo {
    width: 190px;
}